<!doctype html>
<html lang="en">
  <%- include('./blocks/header') %>
  <body>
    <div class="container">
      <%- include('./blocks/navbar') %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <div class="row">
        <div class="col-xl-6">
          <h4>API Endpoints</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Cooldown</th>
                <th scope="col">maxRequests</th>
                <th scope="col">maxRequestper</th>
                <th scope="col">isBlocked</th>
              </tr>
            </thead>
            <tbody>
              <% for (endpoint of endpoints) { %>
                <tr>
                  <th scope="row"><%= endpoint.name %></th>
                  <td><%= endpoint.cooldown %></td>
                  <td><%= endpoint.maxRequests %></td>
                  <td><%= endpoint.maxRequestper %></td>
                  <td><input class="form-check-input" type="checkbox" id="flexCheckChecked" <% if (endpoint.isBlocked) { %> checked<% }%>> <%= endpoint.isBlocked %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-xl-6">
          <h4>Users Registered</h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Blocked?</th>
                <th scope="col">Premium?</th>
                <th scope="col">Admin?</th>
              </tr>
            </thead>
            <tbody>
              <% for (u of users) { %>
                <tr>
                  <% if (u.id == user.id) { %>
                    <th scope="row"><%= u.id %></th>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('block', '<%= u.id%>')" id="<%= u.id%>_block" disabled <% if (u.isBlocked) { %> checked<% }%>> <%= u.isBlocked %></td>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('premium', '<%= u.id%>')" id="<%= u.id%>_premium" disabled <% if (u.isPremium) { %> checked<% }%>>  <%= u.isPremium %></td>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('admin', '<%= u.id%>')" id="<%= u.id%>_admin" disabled <% if (u.isAdmin) { %> checked<% }%>>  <%= u.isAdmin %></td>
                  <% } else { %>
                    <th scope="row"><%= u.id %></th>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('block', '<%= u.id%>')" id="<%= u.id%>_block" <% if (u.isBlocked) { %> checked<% }%>> <%= u.isBlocked %></td>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('premium', '<%= u.id%>')" id="<%= u.id%>_premium" <% if (u.isPremium) { %> checked<% }%>>  <%= u.isPremium %></td>
                    <td><input class="form-check-input" type="checkbox" onchange="updateUser('admin', '<%= u.id%>')" id="<%= u.id%>_admin" <% if (u.isAdmin) { %> checked<% }%>>  <%= u.isAdmin %></td>
                  <% } %>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <h4>API endpoint usage</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">UserID</th>
            <th scope="col">Endpoint</th>
            <th scope="col">Accessed at</th>
          </tr>
        </thead>
        <tbody>
          <% for (history of userHistory) { %>
            <tr>
              <th scope="row"><%= history.userId %></th>
              <td><%= history.endpoint %></td>
              <td><%= new Date(history.createdAt).toDateString() %> <%= new Date(history.createdAt).toLocaleTimeString() %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
      <script>
        function updateUser(type, userId) {
          // Check if user value will be true or false
          const isChecked = document.getElementById(`${userId}_${type}`)?.checked ?? false;
          console.log(isChecked)
          // Get the value that will be edited
          const option = {
            'block': 'isBlocked',
            'premium': 'isPremium',
            'admin': 'isAdmin',
          }[type]

          // Send the request to update user
          $.ajax({
        		url: `/api/admin/user?userId=${userId}`,
        		type: 'PATCH',
        		data: JSON.stringify({ [option]: isChecked }),
        		dataType: 'json',
        		contentType: 'application/json',
        	});
        }
      </script>
    </div>
  </body>
</html>
