<!doctype html>
<html lang="en">
  <%- include('./blocks/header') %>
  <body>
    <%- include('./blocks/navbar')%>
    <table>
      <tr>
        <th>Name</th>
        <th>cooldown</th>
        <th>maxRequests</th>
        <th>maxRequestper</th>
      </tr>
      <% for (endpoint of endpoints) { %>
        <tr>
          <td><%= endpoint.name %></td>
          <td><%= endpoint.cooldown %></td>
          <td><%= endpoint.maxRequests %></td>
          <td><%= endpoint.maxRequestper %></td>
        </tr>
      <% } %>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
