<html>
  <%- include('./blocks/header') %>
  <body>
    <%- include('./blocks/navbar') %>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h1>Welcome to <span>Egglord API.</span></h1>
        <h2>Only the best free API.</h2>
        <div class="d-flex">
          <a href="/login" class="btn-get-started">Get Started</a>
          &nbsp
          <a href="/docs" class="btn-get-started">Docs</a>
        </div>
      </div>
    </section>
    <main id="main">
      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-2 col-md-6">
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="<%= userCount %>" data-purecounter-duration="1" class="purecounter"></span>
                <p>API Users</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-hdd"></i>
                <span data-purecounter-start="0" data-purecounter-end="<%= endpointCount %>" data-purecounter-duration="1" class="purecounter"></span>
                <p>Total API endpoints</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-hdd"></i>
                <span data-purecounter-start="0" data-purecounter-end="<%= endpointUsageCount %>" data-purecounter-duration="1" class="purecounter"></span>
                <p>API requests recieved</p>
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
            </div>
          </div>
        </div>
      </section>
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <%- include('./blocks/footer') %>
  </body>
  <script type="text/javascript">
    new PureCounter({
      selector: '.purecounter',
    })
  </script>
</html>
