<html>
  <%- include('./blocks/header') %>
  <body>
    <%- include('./blocks/navbar') %>
    <div class="container-fluid" style="padding:5%">
      <form class="form-inline">
        <h5>Your token:</h5>
        <div class="form-group mb-2">
          <input class="form-control mb-2 mr-sm-2" type="password" value="<%= user.token%>" id="myInput" readonly>
        </div>
        <input type="checkbox" onclick="ToggleTokenVisibility()">Show Token
        <button class="btn btn-primary mb-2" onclick="copyUserToken()">Copy text</button>
      </form>
      <h5>Your endpoint history:</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Endpoint:</th>
            <th scope="col">Accessed at:</th>
          </tr>
        </thead>
        <tbody>
          <% for (const usage of history) { %>
            <tr>
              <th scope="row"><%= usage.id%></th>
              <td><%= usage.endpoint%></td>
              <td><%= usage.createdAt%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
